<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="stuff"><%= title %></h1>
    <h1>h stuff</h1>
    <h1>more h stuff</h1>
    <p class="stuff">Welcome to <%= title %></p>
    <p class="stuff">stuff</p>
    <p class="stuff">more stuff</p>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  </body>
</html>
