<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form method="post" action="/api/crawl">
      <input type="submit" value="Crawl">
    </form>
    <form method="post" action="/api/update">
      <input type="submit" value="Update">
    </form>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/events.js"></script>
  </body>
</html>
