<!DOCTYPE html>
<html>
  <head>
    <title>Webpage URL Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Webpage URL Tracker</h1>

    <form method="post" action="/api/token/crawl">
      <% if (docId) { %>
        <input type="text" name="id" value="<%= docId %>">
      <% } else { %>
        <input type="text" name="id" value="" placeholder="Google Sheets ID">
      <% } %>
      <input type="submit" value="Crawl, baby, crawl!">
    </form>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/events.js"></script>
  </body>
</html>
